*{
    box-sizing: border-box;
}
.background-1 {
    background-color:lightgrey ;
    width: 100 vw;
    height: 100 vh;
    padding: 16px;
}
.background-2 {
    background-color:black ;
    width: 100%;
    height: 100%;
    padding: 16px;
}
.background-3 {
    background-color:crimson ;
    width: 100%;
    height: 100%;
    padding: 24px;
}
.background-4 {
    background-color:khaki ;
    width: 100%;
    height: 100%;
    padding: 24px;
}
h1 {
    padding: 0% 50%;
}