* {
  padding: 0;
  margin: 0;
}
.in-box {
  width: 100%;
  height: 100vh;
  background-color: khaki;
}
.outer-box {
  border: 16px solid lightgrey;
}
.middle-box {
  border: 16px solid #000;
}
.inner-box {
  border: 32px solid crimson;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 72px;
  padding: 30px;
}
