* {
    box-sizing: border-box;
}
.header {
    background-color: rgb(153, 204, 255) ;
    color: rgb(51, 153, 255);
    padding: 1px 1px 1px 30px;
    

}
.contain-1 {
    background-color: rgba(153, 204, 255, 0.3);
    width: 400px;
    border: 3px solid #004c99;
    padding-left: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.contain-2 {
    background-color: rgba(153, 204, 255, 0.3);
    width: 400px;
    border: 3px solid #004c99;
    padding-left: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.picture-1 {
    width: 300px;
}